/* styles.module.css */
.mainContent {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* 画面全体の高さに合わせる */
  padding: 20px;
}

.leftColumn {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-right: 20px; /* 右側に余白を追加 */
}

.rightColumn {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.signInButton {
  border: 1px solid black;
  border-radius: 8px;
  padding: 10px 20px;
  background-color: greenyellow;
  cursor: pointer;
  transition: background-color 0.3s;
}

.signInButton:hover {
  background-color: orange;
}
